 <!--景点List Begin-->
    <div class="scenic-spot-detail">
        <div class="container">
            <!--路径导航(面包屑) begin-->
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="">首页</a></li>
                    <li><a href="">酒店</a></li>
                    <li><a href="">酒店预定</a></li>
                </ul>
            </div>

            <!--路径导航(面包屑) end-->
            <div class="row">
                <div class="col-sm-9">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-hotel"></i>&nbsp;&nbsp;
                            北京舟客家度假逸墅
                        </div>
                        <div class="panel-body">
                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1"
                                   class="formTable tableStyle">
                                <tbody>
                                <tr>
                                    <th height="30">早餐</th>
                                    <th width="100">宽带</th>
                                    <th width="100">面积</th>
                                    <th width="100">楼层</th>
                                    <th width="100">窗户</th>
                                    <th width="100">卫浴</th>
                                    <th width="100">加床</th>
                                    <th width="100">定金支付</th>
                                </tr>
                                <tr align="center">
                                    <td>含早</td>
                                    <td>有(免费)</td>
                                    <td>15平方</td>
                                    <td>楼层：5层</td>
                                    <td>窗户：有窗</td>
                                    <td>卫浴：独立卫浴</td>
                                    <td>加床：<em class="price">1</em>元/床</td>
                                    <td><em class="price">30%</em></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;
                            预订信息
                        </div>
                        <div class="panel-body">
                            <form action="" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">房间类型:</label>
                                    <div class="col-sm-9 ">
                                        <!--<span class="">大床房(大床1.8米)[无,均价 <em class="fa fa-rmb"></em> 130]</span>-->
                                        <input type="text" class="form-control" value="大床房(大床1.8米)[无,均价 130]" readonly/>
                                    </div>
                                </div>
                                <div class="form-group" id="data_1">
                                    <label class="col-sm-2 control-label">入住时间:</label>
                                    <div class="col-sm-9">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control" value="2018-10-20">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" id="data_2">
                                    <label class="col-sm-2 control-label">离店时间:</label>
                                    <div class="col-sm-9 ">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control" value="2018-10-21"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">预定数量:</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" name="">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">价格明细:</label>
                                    <div class="col-sm-3">
                                        <div class="input-group">
                                            <span class="input-group-addon">¥</span>
                                            <input type="text" class="form-control" disabled />
                                            <span class="input-group-addon">.00</span>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <i class="fa fa-info-circle"></i>&nbsp;&nbsp;
                            填写住店信息
                        </div>
                        <div class="panel-body">
                            <form action="" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">姓&nbsp;&nbsp;&nbsp;&nbsp;名:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">电&nbsp;&nbsp;&nbsp;&nbsp;话:</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">E-mail:</label>
                                    <div class="col-sm-9 ">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">特殊要求:</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="" id="" rows="6"></textarea>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <i class="fa fa-info-circle"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">酒店入住提示</a>
                            </h5>

                        </div>
                        <div class="panel-collapse" id="collapse1">
                            <div class="panel-body">
                                123
                            </div>
                        </div>

                    </div>

                </div>


                <!--右侧 结算清单 Begin-->
                <div class="col-sm-3">
                    <div class="panel panel-warning settlement" data-spy="affix">
                        <div class="panel-heading">
                            <i class="fa fa-money"></i>
                            结算清单
                        </div>

                        <div class="panel-body">
                            <dl>
                                <dt>房型费用</dt>
                                <dt>
                                    1间 × 130
                                    <em class="money">¥130</em>
                                </dt>
                            </dl>
                            <h5>订单总额: <em class="money">¥130</em></h5>
                            <h5>前台支付：<em class="money">¥91</em></h5>
                            <h5>在线支付：<em class="money">¥39</em></h5>
                            <input type="submit" class="btn btn-success center-block" value="提交订单"/>
                        </div>
                    </div>
                </div>
                <!--右侧 结算清单 End-->
            </div>


        </div><!--container  End-->
    </div>

